@media screen and (min-width: 768px) {

    #menu-btn {
        display: none;
    }

    #main-nav {
        display: flex !important;
        flex-direction: row;
        width: auto;
    }

    #main-nav a {
        border: none;
    }

    #members.grid-view {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #members.list-view .card {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    #members.list-view img {
        width: 150px;
    }
}


footer {

    justify-content: center;
}