/*#D3D3D3
#AFEEEE */


body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}




header {
    display: grid;
    grid-template-columns: 25px auto 44px;
    padding: 8px 0 8px 10px;
    align-items: end;
    border-bottom: solid 1px #AFEEEE;
    column-gap: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;

}

header span {
    font-size: 1.2rem;
    color: #D3D3D3;
}

.hamburger {
    background-color: none;
    border: none;
    color: #D3D3D3;
    ;
    cursor: pointer;
}

.hamburger::after {

    content: "\2630";
    font-size: 2rem;
}


.hamburger.show::after {

    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    display: none;

}

.navigation.show {
    display: block;
}


.navigation ul {
    list-style: none;
    display: flex;
}

.navigation a {

    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color: black;
    border-bottom: solid 1px #AFEEEE;






}


.navigation li.current {
    background-color: aquamarine;
}

.navigation a:hover {
    background-color: #D3D3D3;
}




h1 {


    color: #AFEEEE
}


footer {
    background-color: #D3D3D3;
    padding: 1rem 10px;

    text-align: center;



}

.social {
    display: flex;
    justify-content: center;
    column-gap: 7px;

}

.social a {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: solid 22px #D3D3D3;
}

.social img {

    width: 25px;
    height: 25px;
}

.social a:hover {
    background-color: blue
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-color: gray;
    margin: 15;
}

/* ===== Grid Layout ===== */