@media only screen and (min-width:38rem){

header, main, nav, footer {
    max-width: 900px;
    margin: 0 auto;
     
}
.hamburger {

   display: none;

   grid-template-columns: 24px auto;
}


.navigation {
    display:block
}





.navigation ul {
    display: flex;
}


}